# Sep 8, 2019 WTP for logit

# Importing Data

In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
os.listdir()

['.ipynb_checkpoints', 'home_heating.xlsx', 'Sep 8, 2019 Econ 581 HW1.ipynb']

In [7]:
data=pd.read_excel('home_heating.xlsx')

In [8]:
type(data)

pandas.core.frame.DataFrame

In [185]:
data.head(3)

,id,choice,ic1,ic2,ic3,ic4,ic5,oc1,oc2,oc3,oc4,oc5
0,1,1,8.6600,9.6264,8.5990,9.9576,11.355,1.9969,1.5172,5.5334,5.0560,2.3788
1,2,1,7.2793,7.5889,7.9682,8.9469,9.689,1.6866,1.6866,5.2024,4.8649,1.9919
2,3,1,5.9948,7.8305,7.1986,9.0011,10.483,1.6558,1.3780,4.3906,4.0474,1.7147

In [186]:
df = data.iloc[[2,13,20],]

In [187]:
df = df.drop(['choice'], axis=1)

# (a) Interpret the ration of the coefficient on $ic_{ij}$ over the coefficient on $oc_{ij}$.
$v_{ij}$ = -0.6231 X $ic_{ij}$ $-$ -0.458 X $ic_{ij}$, $j=alternative ={1,..,5}$

# Marginal Willingness to pay = $\frac{\partial OC}{\partial IC} = \frac{ \frac{\partial U}{\partial IC}} {\frac{\partial U}{\partial OC}}= \frac{-0.6231}{-0.4580}=1.3604$ ------------(1)

In [47]:
-0.6231/-0.4580

1.3604803493449782

* Average of marginal willingness to install a heating device is 1.36

# (b) compute the probability of choice for each alternative    
# &nbsp; &nbsp; &nbsp; person combination
* using the equation $ Pr_{in} = \frac{exp(V_{in})}{\sum_{j}exp(V_{ij}) }, n \in j $

In [82]:
df3 = df.iloc[0,:]
df3 =pd.DataFrame(df3).transpose()
df3

,id,ic1,ic2,ic3,ic4,ic5,oc1,oc2,oc3,oc4,oc5
2,3.0,5.9948,7.8305,7.1986,9.0011,10.483,1.6558,1.378,4.3906,4.0474,1.7147

In [153]:
df3.iloc[0][5+1]

1.6558

In [154]:
df3.iloc[0][1]

5.9948

In [80]:
df14 = df.iloc[1,:]
df14 =pd.DataFrame(df14).transpose()
df14

,id,ic1,ic2,ic3,ic4,ic5,oc1,oc2,oc3,oc4,oc5
13,14.0,5.6844,6.1743,6.8718,7.1872,7.7554,1.1945,1.1186,3.6592,3.9514,1.7353

In [81]:
df21 = df.iloc[2,:]
df21 =pd.DataFrame(df21).transpose()
df21

,id,ic1,ic2,ic3,ic4,ic5,oc1,oc2,oc3,oc4,oc5
20,21.0,6.5754,8.9216,7.8807,7.9952,10.831,1.7615,1.4893,4.4099,2.8629,2.0387

In [147]:
def value_function(dataframe,j):
    observed_value =  -0.6231*dataframe.iloc[0][j]*- -0.458*dataframe.iloc[0][5+j]
    return np.exp(observed_value)

In [148]:
print('id =3 person choose j=1, than exp value fucntion is {}'.format(value_function(df3,1)))
print('id =3 person choose j=2, than exp value fucntion is {}'.format(value_function(df3,2)))
print('id =14 person choose j=2, than exp value fucntion is {}'.format(value_function(df14,1)))
print('id =14 person choose j=2, than exp value fucntion is {}'.format(value_function(df14,2)))
numerator_id3_j1 = value_function(df3,1)
numerator_id3_j2 = value_function(df3,2)
numerator_id14_j1 = value_function(df14,1)
numerator_id14_j2 = value_function(df14,2)

id =3 person choose j=1, than exp value fucntion is 0.05885172868379539
id =3 person choose j=2, than exp value fucntion is 0.045988198491830876
id =14 person choose j=2, than exp value fucntion is 0.14403004562443908
id =14 person choose j=2, than exp value fucntion is 0.13931800817658552

In [152]:
print(value_function(df3,1))
print(value_function(df3,2))
print(value_function(df3,3))
print(value_function(df3,4))
print(value_function(df3,5))

0.05885172868379539
0.045988198491830876
0.00012099475321512345
3.0533492151338645e-05
0.005917986480380779

In [169]:
def total_value_function(dataframe):
    empty =[]
    for i in range(1,6):
        each_value = value_function(dataframe,i)
        empty.append(each_value)
    return sum(empty)

In [170]:
total_value_function(df3)

0.1109094419013735

In [171]:
print('id =3 person total values all possible j is {}'.format(total_value_function(df3)))
print('id =14 person total values all possible j is {}'.format(total_value_function(df14)))
denominator_id3 = total_value_function(df3)
denominator_id14= total_value_function(df14)

id =3 person total values all possible j is 0.1109094419013735
id =14 person total values all possible j is 0.30589509346942606

In [178]:
def predict_prob(dataframe,j):
    numerator = value_function(dataframe,j)
    denominator = total_value_function(dataframe)
    value = numerator/denominator
    return value

In [179]:
# Predicted Probability of id =3,14,21 in different j={1,2,3,4,5}

In [180]:
print('id=3 choise j=1 probability with:', predict_prob(df3,1))
print('id=3 choise j=2 probability with:', predict_prob(df3,2))
print('id=3 choise j=3 probability with:', predict_prob(df3,3))
print('id=3 choise j=4 probability with:', predict_prob(df3,4))
print('id=3 choise j=5 probability with:', predict_prob(df3,5))

id=3 choise j=1 probability with: 0.53062866131929
id=3 choise j=2 probability with: 0.4146463790948114
id=3 choise j=3 probability with: 0.0010909328470223333
id=3 choise j=4 probability with: 0.0002753011071725582
id=3 choise j=5 probability with: 0.053358725631703775

In [181]:
print('id=14 choise j=1 probability with:', predict_prob(df14,1))
print('id=14 choise j=2 probability with:', predict_prob(df14,2))
print('id=14 choise j=3 probability with:', predict_prob(df14,3))
print('id=14 choise j=4 probability with:', predict_prob(df14,4))
print('id=14 choise j=5 probability with:', predict_prob(df14,5))

id=14 choise j=1 probability with: 0.4708478452232342
id=14 choise j=2 probability with: 0.455443749020153
id=14 choise j=3 probability with: 0.002500049059887786
id=14 choise j=4 probability with: 0.0009877003891237339
id=14 choise j=5 probability with: 0.07022065630760146

In [182]:
print('id=21 choise j=1 probability with:', predict_prob(df21,1))
print('id=21 choise j=2 probability with:', predict_prob(df21,2))
print('id=21 choise j=3 probability with:', predict_prob(df21,3))
print('id=21 choise j=4 probability with:', predict_prob(df21,4))
print('id=21 choise j=5 probability with:', predict_prob(df21,5))

id=21 choise j=1 probability with: 0.5862173948312379
id=21 choise j=2 probability with: 0.3604298777803232
id=21 choise j=3 probability with: 0.0007876424483728273
id=21 choise j=4 probability with: 0.02326458890946419
id=21 choise j=5 probability with: 0.029300496030601794

# 16.4 1time WTP for 15% reduction in the installation cost of alternative j=5, 
# &nbsp; &nbsp; &nbsp; &nbsp; for each of the three people

In [198]:
df15WTP = df.iloc[:,[0,5,10]]
df15WTP

    id      ic5     oc5
2    3  10.4830  1.7147
13  14   7.7554  1.7353
20  21  10.8310  2.0387

* From (1), MWTP is 1.36 and the unit of cost is $100
* 1 time willingenss to pay = cost reduction for j=5 X marginal willingness to pay

In [204]:
df15WTP.iloc[0][1]

10.483

In [220]:
# id3 = 0, id14=1, id21=2
def cost_reduction_mwtp(id):
    mwtp_cost_reduction = df15WTP.iloc[id][1]*0.15*1.36*100
    return mwtp_cost_reduction

# 1 time WTP to install j=5 in the cost reduction in different persona are:

In [229]:
print('id=3 person''s WTP in cost redution for j=5 is: $', round(cost_reduction_mwtp(0),3))

id=3 persons WTP in cost redution for j=5 is: $ 213.853

In [227]:
print('id=14 person''s WTP in cost redution for j=5 is: $', round(cost_reduction_mwtp(1),3))

id=14 persons WTP in cost redution for j=5 is: $ 158.21

In [228]:
print('id=21 person''s WTP in cost redution for j=5 is: $',  round(cost_reduction_mwtp(2),3))

id=21 persons WTP in cost redution for j=5 is: $ 220.952